TestWwiseUnity/Library/
TestWwiseUnity/Temp/
TestWwiseUnity/Logs/
*.log
TestWwiseUnity/UserSettings/Layouts/default-6000.dwlt
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-9.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-8.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-7.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-6.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-5.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-4.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-3.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-2.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-11.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-10.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-1.log
TestWwiseUnity/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
TestWwiseUnity/Assembly-CSharp.csproj
TestWwiseUnity/Assembly-CSharp-Editor.csproj
TestWwiseUnity/Assembly-CSharp.csproj
TestWwiseUnity/Assembly-CSharp-Editor.csproj
