*.csproj
*.unityproj
*.sln
*.user
*.tmp
*.log
*.vs/
*.vshistory/
Library/
Temp/
Obj/
Build/
Logs/
UserSettings/
/TestWwiseUnity/Assets/Wwise/ScriptableObjects
/TestWwiseUnity/Assets/Wwise/Editor

.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
