*.csproj
*.unityproj
*.sln
*.user
*.tmp
*.log
*.vs/
*.vshistory/
Library/
Temp/
Obj/
Build/
Logs/
UserSettings/

#Wwise 
TestWwiseUnity/DZ_1/.cache
TestWwiseUnity/DZ_1/*.prof
TestWwiseUnity/DZ_1/*.validationcache
TestWwiseUnity/DZ_1/*.wsetting
